.container
  .ui-group
    .sort-by.button-group#sorts
      Sort  &nbsp;&nbsp;
      %button.button{"data-sort-by" => "name"}
        %span.glyphicon.glyphicon-sort-by-alphabet
      %button.button{"data-sort-by" => "name", "data-sort" => "desc"}
        %span.glyphicon.glyphicon-sort-by-alphabet-alt
.container
  #spinner
  #nodes
:javascript
  $(document).ready(function() {
    $.loadNodes();
  });