.col-xs-4
{
  font-size: 0.8em;

  span 
  {
    margin-bottom: 8px;
  }
}

.col-sm-3
{
  font-size: 1em;

  span 
  {
    margin-bottom: 0px;
  }
}

.item {
  position:      relative;
  float:         left;
  width:         200px;
  height:        100px;
  margin:        5px;
  padding:       10px;    
  color:         white;
  border-radius: 0.5em 0.5em 0.5em 0.5em;

/*  h4 {
    padding-top: 10px;
    text-align: center;
  }*/
/*  .badge {
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 0.8em;
  }

  .label {
    position: absolute;
    top:10px;
    right: 10px;
  }*/

/*  a {
    text-decoration: none;
  }

  a:hover {
    color: #16b5f1;
  }*/

  span
  {
    display: block;
    font-weight: normal;
    text-align: center;
    width: 100%;
  }  
}

#nodes .item 
{
  background: #336699;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.address
  {    
    margin-top: 3px;
    font-size: 0.9em;
  }

  span.name
  {
    font-size: 1.8em; 
    font-weight: bold;
  }

  span.ip
  {
    font-weight: bold;
  }
}

#nodes .item:hover
{
  background-image: linear-gradient( to bottom, hsla(0, 0.5%, 0%, 0), hsla(-5%, -1%, 0%, 0.1) );
}

#systems .item 
{
  background: #777;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.name
  {
    font-size: 1.8em; 
    font-weight: bold;
  }

  span.max_robustness
  {    
    vertical-align: middle;
    background: darkgreen;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 7%;
    top: 14%;
    padding: 7px;
  }

  span.label
  {
    color: #999;
    width: 100%;
    height: 20%;
    margin: -4px 0 0 0;
    font-size: 1.1em;
    font-weight: normal;
  }

  span.label-primary
  {
    background: none;
  }

  span.badge
  {
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 7%;
    top: 14%;
    padding: 10px;
  }

  span.user_capacity
  {
    font-size: 1.4em;
    position: absolute;
    bottom: 10%;
    left: 0px;
  }
}

.item.selected {
  background: #16b5f1;
  background-image: linear-gradient( to bottom, hsla(0, 0.5%, 0%, 0), hsla(-5%, -1%, 0%, 0.1) );
}

.item.selected a {
  color: #fff;
}

.item.selected a:hover {
  color: #f4f4f4;
}


.item > * {
  margin: 0;
  padding: 0;
}

.item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
