/* Large desktop */
@media (min-width: 1200px) 
{ 
  font-size: 1em;  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) 
{ 
 font-size: 0.8em;
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) 
{ 
 font-size: 0.6em;
}
 
/* Landscape phones and down */
@media (max-width: 480px) 
{ 
 font-size: 0.4em;
}

#sorts
{
  font-weight: bold;
  display: inline-block;
  clear: both;
  height: 40px;
  margin: 10px;

  .button
  {
    border: 0px solid #aaa;
    display: inline-block; 
    color: #fff;
    border-radius: 0;
    
    padding: 0.8em 1.5em;
    margin: 0;

    background-color: #444;
    background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );   
  }

  .button:last-child
  {
    border-radius: 0 0.5em 0.5em 0;
  }

  .button:first-child
  {
    border-radius: 0.5em 0 0 0.5em;
  }

  .button.selected
  {
    background-color: #ccc;
  }
}

.item {
  position:      relative;
  float:         left;
  width:         200px;
  height:        100px;
  margin:        5px;
  padding:       10px;    
  color:         white;
  border-radius: 0.5em 0.5em 0.5em 0.5em;

  span
  {
    display: block;
    font-weight: normal;
    text-align: center;
    width: 100%;
  }  
}

#nodes .item 
{
  background: #336699;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.address
  {    
    margin-top: 0.3em;
    font-size: 0.9em;
  }

  span.name
  {
    margin-top: 0.2em;
    font-size: 1.5em; 
    font-weight: bold;
  }

  span.ip
  {
    font-weight: bold;
  }
}

#nodes .item:hover
{
  background-image: linear-gradient( to bottom, hsla(0, 0.5%, 0%, 0), hsla(-5%, -1%, 0%, 0.1) );
}

#systems .item 
{
  background: #777;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.name
  {
    font-size: 1.8em; 
    font-weight: bold;
  }

  span.max_robustness
  {    
    vertical-align: middle;
    background: darkgreen;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    top: 12%;
    padding: 7px;
  }

  span.label
  {
    color: #999;
    width: 100%;
    height: 20%;
    margin: -4px 0 0 0;
    font-size: 1.1em;
    font-weight: normal;
  }

  span.label-primary
  {
    background: none;
  }

  span.level
  {
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 5%;
    top: 12%;
    padding: 10px;
  }

  span.user_capacity
  {
    font-size: 1.4em;
    position: absolute;
    bottom: 10%;
    left: 0px;
  }
}

#actors .item 
{
  background: #777;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.name
  {
    margin-top: 1%;
    font-size: 1.5em; 
    font-weight: bold;
  }

  span.points
  {
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    bottom: 12%;
    padding: 10px;
  }

  span.doing
  {
    font-weight: bold;
  }
}

#actors .hacker
{
  background: #661400;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) );

  span.badge
  {
    background-color: #880000;
  }
}

#actors .admin
{
  background: darkgreen;
  background-image: linear-gradient( to bottom, hsla(0, 1%, 0%, 0), hsla(0, 0%, 0%, 0.5) ); 

  span.badge
  {
    background-color: green;
  }
}

.item.selected {
  background: #16b5f1;
  background-image: linear-gradient( to bottom, hsla(0, 0.5%, 0%, 0), hsla(-5%, -1%, 0%, 0.1) );
}

.item.selected a {
  color: #fff;
}

.item.selected a:hover {
  color: #f4f4f4;
}


.item > * {
  margin: 0;
  padding: 0;
}

.item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
