.overlay {
    fill: none;
    pointer-events: all;
}

.land {
    fill: #ccc;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}
#map {
    border: 1px solid #999;
}