.container.navbar-default.box-shadow.topbar
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.logo{:href => "http://datalab.fit.cvut.cz"}
      = image_tag 'dsl_logo.png', alt: 'datalab', height: '50px'
    %span.icon-bar
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"}
          CSOB Hackaton 2015